body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.intro {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.intro img {
    width: 160px;
    height: 150px;
    border-radius: 25%;
    margin-right: 20px;
}
.intro h1 {
    font-size: 2.5em;
    margin: 0;
}
.projects {
    margin-top: 50px;
}
.projects h2 {
    text-align: center;
    margin-bottom: 30px;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.project-box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    text-align: left;
}
.project-img-box{
    background: rgb(187, 217, 235);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.project-img-box img {
    display: block;
    width: 75%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.project-box img {
    display:block;
    width: 75%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    border-radius: 4px;
    
    margin-left: auto;
    margin-right: auto;
    
}


.project-box h3 {
    margin: 0;
    font-size: 1.5em;
}
.project-box p {
    margin: 10px 0;
}
.project-box button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.project-box button:hover {
    background-color: #0056b3;
}
.project-details {
    display: none;
    margin-top: 10px;
}
.project-box.expanded {
    grid-column: span 2;
    grid-row: span 1;
}
.project-box.expanded .project-details {
    display: block;
}

